body {
  /* font-family: 'Times New Roman', Times, serif; */
}

.btn-info {
  background-color: black;
  margin-left: 400px;
}

.btn-info:hover {
  background-color: orange;
}

.col {
  background-color: lightblue;
  border: 2px solid black;
  text-align: center;
}